{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        {% for item in cart %}
            <li>
                {{ item.product.name }} - ${{ item.price }} | ${{ item.total_price }} (x{{ item.quantity }})
                <a href="{% url 'cart_remove' item.product.id %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price|floatformat:2 }}</p>
    <a href="{% url 'checkout' %}">Proceed to Checkout</a>
</body>
{% endblock %}